body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.main {
    position: relative; /* Add this line */
    height: 60vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    background-repeat: no-repeat;
    display: grid;
    height: 80vh;
    box-shadow: 0 3px 10px blue;
}
.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Netflix-background_860c8ece6b34fb4f43af02255ca8f225.jpg');
    background-size: cover;
    opacity: 0.6; /* Adjust the opacity value as needed */
    z-index: -1; /* Ensure the background stays behind content */
}
.nav{
    margin-top: 25px;
    z-index: 1;
    display: flex;
    flex-direction:row-reverse ;
    height: 40px;
    margin-bottom: 15px;
    
}
.netflix {
    color: red;
    -webkit-text-stroke: 0.3px white;
    position: absolute; /* Add this line */
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    z-index: 1; /* Ensure it stays above the background */
    font-size: 2em;
    font-weight: bold;
    left: 80px;
    margin-top: 5px;
    
}
.eng2{
    border: 1px solid grey;
}
.eng{
    display: grid;
    color: white;
    position: relative;
    font-size: 1.2em;
    right: 350px;
    border: 1px solid white;
    background-color: rgba(128, 128, 128, 0.934);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    width: 90px;
    height: 30px;
    margin-top: 5px;
   }
   .eng:hover{
    box-shadow: 0 0 8px grey;
   }
.sign{
    position: relative;
    color: white;
    background-color: rgb(247, 1, 83);
    height: 23px;
    border-radius: 5px;
    margin-top: 10px;
    right: 160px;
}
.sign:hover{
    box-shadow: 2px 2px 7px pink;
}
.one{
    color: white;
    position: relative;
    font-size: 3em;
    font-weight: 1000;
    height: 10vh;
    width: 400px;
    text-align: center;
    left: 37vw;
    bottom:100px;
    margin-top: 60px;
    margin-bottom: 0px;
}
.sec{
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-weight: 150;
    font-size: 1.1em;
    width: 300px;
    height: 30px;
    
    bottom: 0px;
    left: 40vw;
}
.three{
    
    color: white;
    position: relative;
    width: 50vw;
    font-size: 1.2em;
    font-weight: 200;
    height: 20px;
    bottom: 130px;
    margin-top: 3px;
    left: 33vw;
}
.log{
    position: relative;
    display: grid;
    grid-template-columns: 26vw auto;
    color: white;
    
    bottom: 90px;
    width: 700px;
    left: 28vw;
    bottom: 120px;
    margin-top: 4px;
}
.email{
    grid-column-start: 1;
    height: 7vh;
    border-radius: 9px;
    width: 25vw;
    background-color: black;
    opacity: 50%;
    font-weight: 400;
    font-size: 1.3em;
}
.log2{
    position: relative;
    display: grid;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    
    height: 40px;
    font-size: 1.3em;
    font-family: sans-serif;
    width: 150px;
    background-color: red;
    top: 5px;
    left: 5px;

}
.trending{
    position: relative;
    color: white;
    
    font-size: 1.8em;
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    margin-top: 15px;
    width: 200px;
    left: 15vw;
   
}
.images{
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    gap: 3px;
  
}
img{
    z-index: 1;
}
.num{
    z-index: 2;
    color: black;
    position: relative;
    right: 220px;
    font-size: 7em;
    font-weight: 1000;
    -webkit-text-stroke: 1px white;
    filter: drop-shadow(2px 2px 10px grey);
}
img:hover{
   transition: all 1s ease-in-out;
   transform: scale(1.2);
}

.reasons{
    position: relative;
    top: 10px;
   left: 13.6vw;
   text-decoration: underline;
    color: white;
    font-size: 2em;
    font-family:times ;
    width: 500px;
}
.box{
    
    display: grid;
    grid-template-columns:  30px auto auto auto auto 30px ;
    justify-content: space-around;
    color: white;
    margin: 50px;
}
.box1{
    background-image: url(https://th.bing.com/th/id/OIP.IXaT9u8YXww3SvKeUD4QqwHaEo?rs=1&pid=ImgDetMain);
    transform: scale(1.3);
    border: 2px solid white;
    height:150px;
    width: 180px;
    border-radius: 4px;
    grid-column-start: 2;
}
.box2{
    background-image: url(https://th.bing.com/th/id/OIP.IXaT9u8YXww3SvKeUD4QqwHaEo?rs=1&pid=ImgDetMain);
    transform: scale(1.3);
    border: 2px solid white;
    height: 150px;
    width: 180px;
    border-radius: 4px;
    grid-column-start: 3;
}
.box3{
    background-image: url(https://th.bing.com/th/id/OIP.IXaT9u8YXww3SvKeUD4QqwHaEo?rs=1&pid=ImgDetMain);
    transform: scale(1.3);
    border: 2px solid white;
    height: 150px;
    width: 180px;
    border-radius: 4px;
    grid-column-start: 4;
}
.box4{
    background-image: url(https://th.bing.com/th/id/OIP.IXaT9u8YXww3SvKeUD4QqwHaEo?rs=1&pid=ImgDetMain);
    transform: scale(1.3);
    border: 2px solid white;
    height: 150px;
    width: 180px;
    border-radius: 4px;
    grid-column-start: 5;
}
.jem{
    color: rgba(81, 79, 79, 0.895);
}
.rel{
    margin-bottom: 20px;
}
.rel:hover{
     box-shadow: 0 0 10px grey;
}
.freq{
    position: relative;
    top: 10px;
   left: 13.6vw;
    height: 30px ;
    width: 600px;
    color: white;
    font-size: 2em;
    margin: 10px;
    padding: 10px;
}
.qbox{
    margin-top: 20px;
    margin-left: 40px;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    align-content: space-between;
    gap: 10px;
    justify-content: center;
}
.que{
    display: grid;
    grid-template-columns: auto auto 30px;
    color: azure;
    background-color: gray;
    height: 45px;
    width: 1100px;
    border: 2px solid gray;
}
.a1{
    font-size: 2em;
    font-weight: 200;
}
.a2{
    grid-column-start: 3;
    font-size: 2em;
    font-weight: 500;
}
.r2{
    position: relative;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 600px;
    left: 29vw;
}
.log3{
    position: relative;
    display: flex;
    left: 29vw;
    padding: 25px;
    margin: 10px;
    width:700px;
    color: white;

}
.ll{
    color: rgba(128, 128, 128, 0.885);
    text-decoration: underline;
    font-size: 1.1em;
}
.rows{
    position: relative;
    margin: 50px;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
    align-content: space-between;
    row-gap: 20px;
    
}
.l{
    grid-column-start: 1;
    grid-row-start: 1;
}
.m{
    grid-column-start: 1;
    grid-row-start: 2;
}
.n{
    grid-column-start: 2;
    grid-row-start: 2;
}
.o{
    grid-column-start: 3;
    grid-row-start: 2;
}
.p{
    grid-row-start: 3
}
.q{
    grid-row-start: 3
}
.r{
    grid-row-start: 3
}